.column.is-two-thirds-tablet.is-two-fifths-desktop.is-one-quarter-fullhd
  %h2
    Editar #{resource_name.to_s.humanize}
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true, label: 'E-mail'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Esperando confirmación de: #{resource.unconfirmed_email}
      = f.input :password, hint: "deja en blanco si no deseas cambiarlo", required: false, input_html: { autocomplete: "new-password" }
      = f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" }, label: 'Confirma tu contraseña'
      = f.input :current_password, hint: "es necesaria tu contraseña para este cambio", required: true, input_html: { autocomplete: "current-password" }               |
    .form-actions
      = f.button :submit, "Actualizar"
  = link_to "Back", :back
