%h1
  = @campain.name

.columns.has-regular-margin.is-flex.is-wrap.has-full-width
  .column.is-one-quarter.is-half-mobile
    .has-text-weight-semibold
      Objetivo:
    %p=@campain.objective

  .column.is-one-quarter.is-half-mobile
    .has-text-weight-semibold
      Fecha de inicio:
    %p#startDate=@campain.start_date

  .column.is-one-quarter.is-half-mobile
    .has-text-weight-semibold
      Fecha de termino:
    %p#endDate=@campain.end_date

  .column.is-one-quarter.is-half-mobile
    .has-text-weight-semibold
      Tipo de campa침a:
    %p=@campain.campain_type

  .column.is-one-quarter.is-half-mobile
    .has-text-weight-semibold
      Producto:
    %p=@campain.product

%div#timeline

.column.is-flex.is-full.is-justified-centered
  .buttons.are-small
    %button.button.is-success.has-regular-margin#add-node
      A침adir nodo
    %button.button.is-primary.has-regular-margin#add-edge
      A침adir arista
    %button.button.is-warning.has-regular-margin#edit-node
      Editar nodo
    %button.button.is-danger.has-regular-margin#delete-node
      Eliminar selecci칩n

#vis-container.vis-container

#network-popUp.network-popup
  %span#operation node
  %label{ for: "node-label"}
  %input.input.field.is-small#node-label{value: "new value"}
  .buttons.are-small
    %input.button.is-success#saveButton{type: "button", value: "Guardar", href: "#{community_campain_nodes_path(@campain)}"}
    %input.button.is-danger#cancelButton{type:  "button", value: "Cancelar"}
%a#createEdgeLink{href: "#{community_edges_path}"}
%a#currentPath{href: "#{community_campain_path(@campain)}"}

.column.is-11-mobile.is-6-tablet.is-5-widescreen
  .column
    #postForm{href: "#{community_nodes_path}" }

.card.has-regular-margin
  .card-header
    .card-header-title
      Equipo de trabajo
      %a.card-header-icon.is-hidden-fullscreen{ "href": "#coworkersContainer", "data-action": "collapse", "aria-label": "more options" }
        %span.icon
          %i.fa.fa-angle-down{ "aria-hidden": "true" }
  #coworkersContainer.is-collapsible
    .card-content
      %table.table.has-full-width.has-regular-margin
        %thead
          %tr
            %th
              Email
            %th
              Rol
        %tbody
          - @campain.coworkers.each do |coworker|
            - if coworker.user
              %tr
                %td
                  %p=coworker.user&.email
                %td
                  = t("coworker.roles.#{Coworker.roles.key(coworker&.role)}")

      %p.has-regular-margin.is-size-5.has-text-weight-semibold
        Agregar empledo
      = simple_form_for(@coworker, url: community_campain_coworkers_path(@campain), method: :post, defaults: { wrapper: false }) do |f|
        .field.is-horizontal.has-regular-margin
          .field-body
            .field
              .column.is-paddingless.select
                = f.input :user, collection: current_user.company.available_employees(@campain).map { |employee| [ employee.email, employee.id ] }, include_blank: false, prompt: "Escoge al empleado"
            .field
              .column.is-paddingless.select
                = f.input :role, collection: Coworker.roles.keys.map { |role| [t("coworker.roles.#{role}"), role.to_s ] }, include_blank: false, prompt: "Escoge un rol"
            .field
              .column.is-paddingless
                = f.submit 'Registrar', class: 'button is-primary has-regular-margin'
