.column.is-two-thirds-tablet.is-two-fifths-desktop.is-one-quarter-fullhd
  %h2
  Reenviar instrucciones de debloqueo
  = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = f.error_notification
    = f.full_error :unlock_token
    .form-inputs
      = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, label: 'E-mail'
    .form-actions
      = f.button :submit, "Reenviar instrucciones"
  = render "devise/shared/links"
