%h1.is-size-2
  Campañas en las que participas

.columns.is-flex.has-full-width.is-wrap.has-regular-margin
  - @campains.each do |campain|
    .column.is-three-quarters-mobile.is-one-third.is-one-quarter-desktop.is-half-mobile.is-flex.has-direction-column.has-full-height
      .card.has-regular-margin
        .card-image
          %figure.image.is-4by3
            - if campain.image.attached?
              = image_tag(campain.image)
            - else
              %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/1280x960.png"}/

        .card-content
          .media
            .media-content
              =link_to campain.name, designer_campain_path(campain.id)
          .content
            %b.is-size-7
              Termina:
              = l(campain.end_date, format: :short)

  = simple_form_for(Message.new) do |f|
    .filed
      = f.label :content, "Nuevo mensaje"
      = f.input :content, class: ""
    .field
      = f.submit "Enviar"
