!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = "Se ha publicado a la campaña: #{@post.node.campain.name}"
    %p
      Contenido:
      %br
      = @post.body
  - if @post.content.attached?
    %br
      = image_tag @post.content
    %p
      Hora de publicación
    %br
      = Time.now
