.column.is-two-thirds-tablet.is-two-fifths-desktop.is-one-quarter-fullhd
  %h2
    Cambiar contraseña
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    = f.input :reset_password_token, as: :hidden
    = f.full_error :reset_password_token
    .form-inputs
      = f.input :password, required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }, label: 'Nueva contraseña'
      = f.input :password_confirmation, label: "Confirma tu nueva contraseña", required: true, input_html: { autocomplete: "new-password" }
    .form-actions
      = f.button :submit, "Actualizar"
  = render "devise/shared/links"
