.column.is-11-mobile.is-6-tablet.is-5-widescreen
  .box
    .column
      %h2.is-size-3.is-size-4-mobile
        Inicio de sesión
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .columns
        .column
          = f.label :email, label: 'E-mail', class: "label"
          .control.has-icons-left.field
            %span.icon.is-small.is-left
              %i.fa.fa-envelope
            = f.input :email, required: false, autofocus: true, autocomplete: "email", placeholder: "#{t("placeholders.email")}", class: "email"
          = f.label :password, label: 'Contraseña', class: "label"
          .control.has-icons-left.field
            %span.icon.is-small.is-left
              %i.fa.fa-lock
            = f.input :password, required: false, input_html: { autocomplete: "current-password", placeholder: "#{t("placeholders.password")}" }, class: "password"
      .column.is-5-widescreen.is-8-tablet.is-6-mobile
        = f.button :submit, "Iniciar sesión", class: 'is-primary is-full is-size-7-mobile'
      = render "devise/shared/links", class: 'is-flex is-justified-centered'
