.column.is-11-mobile.is-6-tablet.is-5-widescreen
  .box
    .column
      %h2.is-size-3.is-size-4-mobile
        Define tus credenciales
    = simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
      .columns
        .column
          = f.error_notification
          = f.hidden_field :invitation_token
          = f.label :password, label: 'Contrase単a', class: "label"
          .control.has-icons-left.field
            %span.icon.is-small.is-left
              %i.fa.fa-lock
            = f.input :password, placeholder: "Define una contrase単a"
          = f.label :password_confirmation, label: 'Repite tu contrase単a', class: "label"
          .control.has-icons-left.field
            %span.icon.is-small.is-left
              %i.fa.fa-lock
            = f.input :password_confirmation, placeholder: "Repite tu contrase単a"
      .column.is-5-widescreen.is-8-tablet.is-6-mobile
        = f.button :submit, 'Crear cuenta', class: 'is-primary'
