= simple_form_for(post, url: action, remote: :true, format: :js) do |f|
  .field
    = f.label :title, t("helpers.label.post.title"), class: 'label'
    = f.input :title, class: 'input', placeholder: t("placeholders.title")
  .field
    = f.label :coworker_id, "Encargado del nodo", class: "label"
    .select
      = f.select :coworker_id, @node.campain.coworkers.map { |coworker| [coworker.email, coworker.id] }, include_blank: false, prompt: "Selecciona el encargado del nodo", selected: post.responsable&.id
  .column.is-12
    = f.submit t("helpers.label.post.submit"), class: 'button is-primary'
    - unless post.new_record?
      = link_to " Eliminar", community_node_post_path(post.node, post), method: :delete, class: "fa fa-trash has-regular-margin", remote: true, data: { confirm: "¿Seguro que deseas eliminar el post?"}
