= simple_form_for(post, url: action, remote: :true, format: :js) do |f|
  .field
    = f.label :title, t("helpers.label.post.title"), class: 'label'
    = f.input :title, class: 'input', placeholder: t("placeholders.title")
  .field
    = f.label :coworker_id, "Encargado del nodo", class: "label"
    .select
      = f.select :coworker_id, @node.campain.coworkers.map { |coworker| [coworker.email, coworker.id] }, include_blank: false, prompt: "Selecciona el encargado del nodo", selected: post.responsable&.id
  .column.is-5-widescreen.is-8-tablet.is-6-mobile
    = f.submit t("helpers.label.post.submit"), class: 'button is-primary'
