%h1 Listing posts

%table
  %thead
    %tr
      %th Node
      %th Content
      %th Post at
      %th Published
      %th Facebook
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.node
        %td= post.content
        %td= post.post_at
        %td= post.published
        %td= post.facebook_id
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
