.container
  %h1
    = @campain.name
  .columns.is-flex.is-wrap.has-full-width.has-regular-padding-top
    .column.is-12.has-border
      .columns.is-flex.is-wrap.has-full-width
        .column.is-one-quarter.is-half-mobile
          .has-text-weight-semibold
            Objetivo:
          %p=@campain.objective

        .column.is-one-quarter.is-half-mobile
          .has-text-weight-semibold
            Fecha de inicio:
          %p#startDate=@campain.start_date

        .column.is-one-quarter.is-half-mobile
          .has-text-weight-semibold
            Fecha de termino:
          %p#endDate=@campain.end_date

        .column.is-one-quarter.is-half-mobile
          .has-text-weight-semibold
            Tipo de campaña:
          %p=@campain.campain_type

        .column.is-one-quarter.is-half-mobile
          .has-text-weight-semibold
            Producto:
          %p=@campain.product


    .column.is-12.has-regular-padding-top{"data-controller": "community-campains-charts"}
      .colums.is-centered.is-flex
        .column
          .columns
            .column.has-border
              %h3.has-regular-padding
                Publicaciones
              %div#postPublicationChart{"data-total-posts": "#{@campain.posts.count}",
                                        "data-published-posts": "#{@campain.published_posts_number}",
                                        "data-post-with-media": "#{@campain.number_of_post_with_media}",
                                        "data-post-without-media": "#{@campain.number_of_post_without_media}" }
        .column
          .columns
            .column.has-border
              %h3.has-regular-padding
                Progreso de la campaña
              %div#campainProgressChart

  = render "community/campains/charts", campain: @campain
  %h3
    Red semantica

  .column.is-12.has-regular-padding-top
    .column.is-12.has-border
      .is-hidden
        .columns.is-flex.is-wrap.has-full-width
          .column.is-one-quarter.is-half-mobile
          .buttons.are-small
            %button.button.is-info.has-regular-margin#add-node
              Añadir nodo
            %button.button.is-primary.has-regular-margin#add-edge
              Añadir arista
            %button.button.is-warning.has-regular-margin#edit-node
              Editar nodo
            %button.button.is-danger.has-regular-margin#delete-node
              Eliminar selección
      #vis-container.vis-container{"data-controller": "visjs"}

.is-hidden
  #network-popUp.network-popup
    %span#operation node
    %label.label{ for: "node-label"}
    %input.input.field.is-small#node-label{placeholder: "Defina un nombre"}
    .buttons.are-small
      %input.button.is-primary#saveButton{type: "button", value: "Crear", href: "#{community_campain_nodes_path(@campain)}"}
      %input.button.is-danger#cancelButton{type:  "button", value: "Cancelar"}
  %a#createEdgeLink{href: "#{community_edges_path}"}
  %a#currentPath{href: "#{community_campain_path(@campain)}"}

  #postForm.is-collapsible{href: "#{community_nodes_path}" }
